.edgedeletebutton {
  position: absolute;
  border-radius: 15px;
  font-size: 10px;
  width: 16px;
  height: 16px;
  font-weight: 700;

  color: white;
  background: red;
}

.edgedeletebutton:hover {
  background: rgb(200, 0, 0);
  box-shadow: 0 0 5px rgba(200, 0, 0, 0.5);
}